-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: localhost    Database: f1db
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `constructor_standings`
--

DROP TABLE IF EXISTS `constructor_standings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `constructor_standings` (
  `season` year NOT NULL,
  `position` int NOT NULL,
  `constructor_name` varchar(100) NOT NULL,
  `points` float DEFAULT NULL,
  PRIMARY KEY (`season`,`position`,`constructor_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `constructor_standings`
--

LOCK TABLES `constructor_standings` WRITE;
/*!40000 ALTER TABLE `constructor_standings` DISABLE KEYS */;
/*!40000 ALTER TABLE `constructor_standings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `driver_standings`
--

DROP TABLE IF EXISTS `driver_standings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `driver_standings` (
  `season` year NOT NULL,
  `position` int NOT NULL,
  `driver_name` varchar(100) NOT NULL,
  `team_name` varchar(100) DEFAULT NULL,
  `points` float DEFAULT NULL,
  PRIMARY KEY (`season`,`position`,`driver_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `driver_standings`
--

LOCK TABLES `driver_standings` WRITE;
/*!40000 ALTER TABLE `driver_standings` DISABLE KEYS */;
/*!40000 ALTER TABLE `driver_standings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `drivers`
--

DROP TABLE IF EXISTS `drivers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `drivers` (
  `DriverID` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(255) NOT NULL,
  `Nationality` varchar(255) DEFAULT NULL,
  `Team` varchar(255) DEFAULT NULL,
  `Retired` tinyint(1) DEFAULT '0',
  `championships_won` int DEFAULT NULL,
  `teams_raced_for` int DEFAULT NULL,
  `most_recent_championship_win` int DEFAULT NULL,
  PRIMARY KEY (`DriverID`),
  UNIQUE KEY `Name` (`Name`)
) ENGINE=InnoDB AUTO_INCREMENT=706 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `drivers`
--

LOCK TABLES `drivers` WRITE;
/*!40000 ALTER TABLE `drivers` DISABLE KEYS */;
/*!40000 ALTER TABLE `drivers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `driverstatistics`
--

DROP TABLE IF EXISTS `driverstatistics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `driverstatistics` (
  `DriverID` int NOT NULL,
  `WetCondition` int DEFAULT '0',
  `TopSpeed` int DEFAULT '0',
  `Focus` int DEFAULT '0',
  `Reflexes` int DEFAULT '0',
  `Tactics` int DEFAULT '0',
  PRIMARY KEY (`DriverID`),
  CONSTRAINT `driverstatistics_ibfk_1` FOREIGN KEY (`DriverID`) REFERENCES `drivers` (`DriverID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `driverstatistics`
--

LOCK TABLES `driverstatistics` WRITE;
/*!40000 ALTER TABLE `driverstatistics` DISABLE KEYS */;
INSERT INTO `driverstatistics` VALUES (1,8,340,9,9,8),(2,7,342,8,9,7),(3,6,338,9,8,8),(4,8,335,8,8,7),(5,7,339,7,8,7),(6,6,337,8,7,6),(7,5,336,7,7,6),(8,4,334,6,6,5),(9,5,333,6,6,5),(10,4,332,5,5,4),(11,6,335,7,7,6),(12,7,338,8,8,7),(13,5,334,6,6,5),(14,6,337,7,7,6),(15,4,333,5,5,4),(16,7,335,6,6,7),(17,6,334,5,6,6),(18,9,338,9,9,9),(19,8,336,7,8,8),(20,7,334,7,7,7),(21,10,340,9,9,9),(22,10,340,9,9,9),(23,8,336,8,7,8),(24,7,337,7,6,7),(25,7,336,8,7,8),(26,8,338,9,8,8),(27,7,334,7,7,7),(28,9,339,9,9,10),(29,8,337,8,7,8),(30,8,335,7,7,8),(31,9,336,9,9,9),(32,8,334,8,7,8);
/*!40000 ALTER TABLE `driverstatistics` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `race_results`
--

DROP TABLE IF EXISTS `race_results`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `race_results` (
  `id` int NOT NULL AUTO_INCREMENT,
  `season` int DEFAULT NULL,
  `round` int DEFAULT NULL,
  `race_name` varchar(255) DEFAULT NULL,
  `driver_name` varchar(100) DEFAULT NULL,
  `constructor_name` varchar(100) DEFAULT NULL,
  `position` int DEFAULT NULL,
  `points` float DEFAULT NULL,
  `fastest_lap` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1800 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `race_results`
--

LOCK TABLES `race_results` WRITE;
/*!40000 ALTER TABLE `race_results` DISABLE KEYS */;
/*!40000 ALTER TABLE `race_results` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-04-15 20:21:43
