Required tables and SQL scripts required to run the program (Tables must be in the database u specify in the .py files)

CREATE TABLE race_results (
    RaceID INT AUTO_INCREMENT PRIMARY KEY,
    RaceName VARCHAR(100),
    Year INT,
    DriverID INT,
    Position INT,
    Points INT,
    Team VARCHAR(100),
    FOREIGN KEY (DriverID) REFERENCES drivers(DriverID)
);

INSERT INTO race_results (RaceName, Year, DriverID, Position, Points, Team) VALUES
('Bahrain Grand Prix', 2023, 1, 1, 25, 'Red Bull'),
('Bahrain Grand Prix', 2023, 2, 5, 10, 'Mercedes'),
('Italian Grand Prix', 2023, 3, 3, 15, 'Ferrari'),
('British Grand Prix', 2023, 4, 4, 12, 'McLaren');


CREATE TABLE driver_statistics (
    DriverID INT,
    WetCondition INT,
    TopSpeed INT,
    Focus INT,
    Reflexes INT,
    Tactics INT,
    PodiumsWon INT,
    Championships INT,
    RecentlyWonYear INT,
    NoOfTeams INT,
    PRIMARY KEY (DriverID),
    FOREIGN KEY (DriverID) REFERENCES drivers(DriverID)
);

INSERT INTO driver_statistics VALUES
(1, 90, 95, 88, 92, 89, 95, 3, 2023, 2),
(2, 87, 90, 95, 93, 91, 103, 7, 2020, 3),
(3, 85, 89, 84, 86, 83, 28, 0, NULL, 1),
(4, 80, 87, 82, 85, 84, 15, 0, NULL, 1);

CREATE TABLE driver_standings (
    Year INT,
    DriverID INT,
    Position INT,
    Points INT,
    Wins INT,
    PRIMARY KEY (Year, DriverID),
    FOREIGN KEY (DriverID) REFERENCES drivers(DriverID)
);

INSERT INTO driver_standings VALUES
(2023, 1, 1, 575, 19),
(2023, 2, 3, 234, 1),
(2023, 3, 5, 206, 2),
(2023, 4, 7, 150, 0);

CREATE TABLE constructor_standings (
    Year INT,
    Team VARCHAR(100),
    Position INT,
    Points INT,
    Wins INT,
    PRIMARY KEY (Year, Team)
);

INSERT INTO constructor_standings VALUES
(2023, 'Red Bull', 1, 860, 21),
(2023, 'Mercedes', 2, 409, 1),
(2023, 'Ferrari', 3, 389, 2),
(2023, 'McLaren', 4, 282, 0);

Full dataset can be fetched from ergast f1api
http://ergast.com/mrd/

The required libraries end user would need to install include:
pillow
os
tkinter
mysqlconnector

Installation:
In your local terminal where your program name is let's say: "module-1"
Then you would have to enter the command "pip install module-1"

