Required modules to run the program

Full dataset can be fetched from ergast f1api
http://ergast.com/mrd/

The required libraries end user would need to install include:
pillow
os
tkinter
mysqlconnector

Installation:
In your local terminal where your program name is let's say: "module-1"
Then you would have to enter the command "pip install module-1"

